<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">
    <div class="widget-table-wrapper">
        <table class="widget-table">
            <tr>
                <th><f:translate key="page" extensionName="sys_note_widgets" /></th>
                <th><f:translate key="subject" extensionName="sys_note_widgets" /></th>
                <th><f:translate key="created" extensionName="sys_note_widgets" /></th>
                <th></th>
            </tr>
            <f:for each="{pages}" as="page">
                <tr>
                    <td><strong>pid: {page.pid}</strong><br />TODOpagetitle</td>
                    <td><strong><f:format.crop maxCharacters="20">{page.subject}</f:format.crop></strong><br /><f:format.crop maxCharacters="50">{page.message}</f:format.crop></td>
                    <td><f:format.date format="{dateFormat} {timeFormat}">{page.crdate}</f:format.date></td>
                    <td class="text-right">
                        <f:be.link class="u-dashboard-button dashboard-button" route="web_layout" parameters="{id: page.pid}">
                            <core:icon identifier="actions-document-view" size="small" />&nbsp;show page</f:be.link>
                    </td>
                </tr>
            </f:for>
        </table>
    </div>

</f:section>
<f:section name="footer">
    <f:if condition="{button}">
        <a href="{button.link}" target="{button.target}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</a>
    </f:if>
</f:section>
</html>
